body{
    background-color: #6096B4;
    margin: 0;
    box-sizing: border-box;

}
h1{
    font-family: 'Kalam', cursive;
}

/*///////////////     Estilos del Header     /////////////////*/


.encabezado{
    display: flex;
    grid-area: header;
    
}

.encabezado img{
    width: 100%;
    height: 100%;
}

/*Estilos del Menu*/

.logo {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 20px;
}

@media (min-width:910px) {
    .logo {
        padding-bottom: 0;
    }
}

.menu{
    background-color: #93BFCF;
    text-align: center;    
    grid-area: inicio;
    font-family: 'Kalam', cursive;
    margin-bottom: -15px;
}

.menu ul{
    list-style: none;
    padding: 0 30px;
}

@media (max-width: 910px) {
    .menu ul {
        display: none;
    }
}

.menu ul li{
    display: inline-block;
    margin:0 10px;
}

.menu li a{
    color: #063642;    
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    background-image: url("../assets/icons/icons8-mate-96.png");    
    background-size:32px;
    background-position: 2px -6px;
    background-repeat: no-repeat;
    padding-left: 2em; 
}

.menu li a:hover {
    background-color: #6096B4;
    color: #011318;
    font-weight: bold;
    border-radius: 15px;
    animation: 0.5s infinite menu_opcion;
}

@keyframes menu_opcion {
    0%{transform:scaleX(1.0);}
    50%{transform: scaleX(1.5);}
    100%{transform: scaleX(1.0);}
}


/*Formato del contenido principal*/

.contenedor{
    display: grid;
    grid-template: auto,auto,auto,auto,auto/ auto auto ;
    grid-template-areas:  "header header"
                        "inicio inicio"
                        "titulo titulo"
                        "contenido fotogaleria"                                                  
                        "pie pie " ;
}
/*Estilos del Titulo*/

div .titulo {
    display: inline-flex;
    color: #C08261;
    background-image: linear-gradient(to bottom, #0a5c71, #063642);
    border: #063642 2px solid;
    width: 100%;    
    justify-content: center;
    grid-area: titulo;
    
}

div .titulo h1:hover{
    box-shadow: 10px 0px 30px rgba(163, 163 ,163,1 )
}
/*Contenido principal----------------------------*/
article .contenido__articulo{
    display:flex;
    grid-area: contenido;
    width: 40%;
}

.parrafo__presentacion{
    display: absolute;
    margin-left: 12%;
    width: 80%;
}
.contenido__articulo p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #063642;
}

img.flotante_salinas,
img.flotante_desert {
    width: 30%;
    float: right;
    margin: 2px 3px;
}
img.flotante_cataratas{
    width: 30%;
    float: left;
    margin: 2px 3px;
}
.galeria__pais{
    display: flex;    
    flex-direction:column;
    align-items: flex-end;    
    grid-area: fotogaleria;
   
   
}
.galeria__pais .imagenes{
    width: 70%;
    float: center;
}



/*Formato del contenido pie de pagina FOOTER*/

footer {
    background-image: linear-gradient(to bottom, #0a5c71, #063642);
    display: flex;
    text-align:start;
    align-content: flex-end;
    margin: 0;
    padding: 0;
    height: 100%;
    grid-area: pie;
    
    
}

footer li{
    display: inline;
    
}
footer li a{
    padding: 5px;
    justify-content: flex-start;  
}

li a #media_icons{
    height: 25px;
}

footer p{
    font-size: 12px;
    color: #fff;
    margin-left:3px ;
    align-items: end;
}

/*/////////////////   Implementación de mediaqueries   //////////////////*/
@media screen and (max-width:910px){
    .contenedor{
        display: grid;
        grid-template: auto/ auto ;
        grid-template-areas: "header "
                            "inicio "
                            "titulo "
                            "contenido "
                            "fotogaleria "                                                  
                            "pie  " ;
    }
}

/* /////////////////    Menu hamburguesa    ////////////////// */

.main-nav-toggle {
    display: none;
}

.main-nav-toggle:checked ~ .contenedor ul{
    display: block;
}

.menu-hamburguesa {
    position: absolute;
    padding: 2px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 94%;
    border: solid 2px;
}

.menu-hamburguesa:hover {
    padding: 3px;
    border: 2px solid;
}

.hamburguesa-button {
    display: block;
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: relative;
    border-radius: 0.2em;
}

@media (min-width: 911px) {
    .menu-hamburguesa {
        display: none;
    }
}


.hamburguesa-button__superior {
    display: block;
    position: absolute;
    width: 80%;
    height: 12%;
    top: 20%;
    left: 10%;
    background-color: #000;
}

.hamburguesa-button__superior--close {
    top: 38%;
    transform: rotate(50deg);
    border: 1px solid;
    transition: 0.5s;
    /* background-color: #da1218; */
    z-index: 5;
}
.hamburguesa-button__medio{
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: #000;
    display: block;
    height: 10%;
    width: 80%;
    transform: translateY(-50%);
}

.hamburguesa-button__medio--close {
    /* background-color: #da1218; */
    z-index: 7;
    top: 37%;
    transform: translate(50px);
    transition: 0.5s;
}
.hamburguesa-button__inferior {
    position: absolute;
    left: 10%;
    bottom: 20%;
    background-color: #000;
    display: block;
    height: 12%;
    width: 80%;
}

.hamburguesa-button__inferior--close {
    transition: 0.7s;
    border: 1px solid;
    transform: rotate(132deg);
    bottom: 43%;
    /* background-color: #da1218; */
    z-index: 6;
}
