* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7dd3fc;
}

h1 {
    font-family:'Roboto', cursive;
    margin-top: 0px;
    font-size: 6vw;
    margin-top: 22vh;
    position: absolute;
    top: 0;
    left: 8%;
}
h2{
    margin-top: 40px;
    font-size: 3rem;
    padding-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
}

/* ------------------------------------------------- */
/* ------------   BARRA DE NAVEGACIÓN   ------------ */
/* ------------------------------------------------- */

#check {
    display: none;
}

.checkbtn {
    display: none;
}

@media (max-width:530px) {
    .menuHorizontal ul {
        display: none;
    }

    .menuHorizontal ul  {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        z-index: 100;
        min-width: 512px;
        min-height: 200px;
        background: #0284c7;
        transition: all .5s;
        position: absolute;
        top: -36px;
        right: -30px;
        padding: 80px 0 50px;
    }

    .menuHorizontal ul li {
        padding: 10px 0;
    }

    .menuHorizontal ul li:hover {
        background-color: #fff;
        color: #0284c7;
        text-align: center;
        min-width: 500px;
        margin: auto;
    }

    #check:checked ~ .menuHorizontal ul {
        /* left: 0; */
        display: flex;
    }
    .checkbtn {
        display: flex;
        position: absolute;
        z-index: 2000;
        right: 22px;
        top: 20px;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 5px;
        font-size: 25px;
        color: #fff;
        float: right;
        line-height: 80px;
        /* margin-right: 40px; */
        cursor: pointer;
    }
}


.menuHorizontal {
    position: absolute;
    right: 30px;
    top: 5px;
    margin-top: 30px;
    font-size: 20px;
    color: aliceblue;
    font-family: roboto; 
}


.menuHorizontal ul {
    list-style: none;
}

.menuHorizontal li {
    float: right;
    margin: 0 8px;
}

#background-video {
    width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* ------------------------------------------------- */
/* ----------------       MAIN      ---------------- */
/* ------------------------------------------------- */


.mainmenu {
    float: right;
    margin-right: 40px;
}

/* --------- index.html ------------- */
.titulo_regiones{
    font-size: 70px;
}

.regiones {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;

}

.regiones div {
    max-width: 33%;
}

.regiones div img {
    max-width: 444px;
    height: 333px;
    border-radius: 70px 0px 70px 0px;
    overflow: hidden;
}

.regiones div p {
    padding-bottom: 15px;
    width: 444px;
}

.linksregiones {
    text-decoration: none;
    color: white;
    
}

.linksregiones:hover {
    color: black;
    text-decoration: none;
}


/* -------- sur.html, centro.html, norte.html ---------*/

#fotos-container{
    width: 500px !important;
    margin: 0 auto;
}
#fotos-container img{
    width: 500px;
    background-size:contain;
}

.container_texto{
    width: 500px;
    display: none;
    overflow: hidden;
    max-width: 90%;
    margin: auto;
}
.contenido_paginas{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.lista_ciudades{
    margin-top: 50px;
    text-align: center;
    
}
.lista_ciudades select{
    cursor: pointer;
}
.lista_ciudades p{
    font-size: 50px;
    font-weight: bolder;
    
}
.lista_ciudades select{
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    /*border-color: snow;*/
}
.container_texto h3{
    color: white;
    font-size: 40px;
    margin-bottom: 25px;
    font-style:italic;
}

@keyframes menu_opcion {
    0% {
        transform: scaleX(1.0);
    }

    50% {
        transform: scaleX(1.5);
    }

    100% {
        transform: scaleX(1.0);
    }
}



/* REGION NORTE */


.nombre {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    top: 0;
    transition: opacity 0.3s ease;
}


.descripcion {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    opacity: 0;
    top: 50%;
    transition: opacity 0.3s ease;   
}


.bodyForo{
    display: flexbox;
    background-color: #7dd3fc;
    
}
.bodyForo .menuHorizontal{
    position: relative;
    justify-content: flex-end;
}

table .table{
    margin-top: 10%;
}

@media screen and (max-width:800px){

    .titulo_secundario{
        font-size: large;
        left: 30%; 
    }
    .menuHorizontal{
        display: flex;
        
    }
    .regiones{
        justify-content: center;
        display: grid;
        grid-template: auto/auto auto auto;
        grid-template-areas: "norte"
                              "centro"
                              "sur"  ;

    }
    .regionNorte{
        display: block;
        grid-area: norte;


    }
    .regionCentral{
        display: ruby-base;
        grid-area: centro;

    }
    .regionSur{
        display: block;
        grid-area: sur;
    }

    .titulo_regiones{
        font-size: 30px;
        
    }
    .lista_ciudades p{
        font-size: 30px;
        font-weight: bolder;
    }
    .contenido_paginas{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        
        margin-bottom: 20px;
    }

}  

@media(min-width: 801px) {
    h1 {
        position: absolute;
        top: 12vh;
        /* font-size: 5vw; */
    }
}


/* ........  whatsAPP  ........... */

#whatsAppWidget {
    position: fixed;
    bottom: 120px; 
    right: 24px;
    float: left; 
    z-index:20;
    /* margin-bottom: 70px; */
}
.whatsApp {
    float: right; 
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4); 
    text-align: center; 
    line-height: 50px; 
    color: white; 
    background-color: #075985;
}

/* ....................................... */
/* ...............  footer  .............. */
/* ....................................... */

footer {
    background-color: #0284c7;
    display: flex;
    text-align: start;
    align-content: flex-end;
    align-items: flex-end;
    padding-top: 20px;
    height: 115px;
    width: 100%;
    padding: 0;
    margin-top: auto;
}

footer p {
    color: #fff;
    align-items: end;
    margin: 0 auto 10px;
    font-size: 17px;
}

footer ul {
    margin: 0 10px 8px 0;
}

footer li {
    display: inline;
    margin: 0 5px;
}

a:visited {
    color:aliceblue
}


/* ------------------------------------------------- */
/* ----------------       FORO      ---------------- */
/* ------------------------------------------------- */

.bodyForo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.titulo_comentario h2{
    color: #fff;
    font-size: 8vw;
}

.agregar_comentario {
    text-align: start;
    margin: 50px 0 40px;
}

.agregar_comentario a{
    border-radius: 8px;
    background-color: #0284c7;
    text-decoration: none;
    border: solid 2px  #056291;
    padding: 8px 20px;
}

.agregar_comentario a:hover {
    background-color: #056291;
}

/* ........  tabla  ........... */
.tabla {
    margin: 5px 20px 50px;
    max-width: 1000px;
    text-align: center;
}

.tabla th {
    text-transform: uppercase;
    font-size: 14px;
}

.tabla td {
    font-family:  sans-serif;
}


.boton {
    height: 28px;
}

.columna_comentario {
    min-width: 180px;
}



/* ------------------------------------------------- */
/* ----------------   mediaqueries   --------------- */
/* ------------------------------------------------- */
@media (max-width:630px) {
    
    .regiones div {
        margin: auto;
        overflow: hidden; 
        max-width:90%;
    }

    .regiones div img {
        width: 100%;
        height: 50vw;
        display: block;
        margin: auto;
    }
    .tabla {
        overflow-x: scroll;
    }

    .tabla::-webkit-scrollbar{
        border: 2px solid #b4afafb9;
        background-color: #e5e2e2d2;
        border-radius: 5px;
    }
    .tabla::-webkit-scrollbar-thumb{ 
        border-radius: 5px;
        border-bottom: 2px solid #b4afafb9;
        border-top: 2px solid #b4afafb9;
        background-color: #0284c7;
    }

    footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    footer p{
        font-size: 15px;
    }

    footer .group{
        margin: auto;
    }

    #group_foro {
        padding-bottom: 17px;
    }

    .icon{
        height: 35px;
        width: 35px;
    }

}

@media (max-width:770px) {
    .tabla {
        overflow-x: scroll;
    }
    
    .tabla::-webkit-scrollbar{
        border: 2px solid #b4afafb9;
        background-color: #ffffffe3;
        border-radius: 5px;
    }
    .tabla::-webkit-scrollbar-thumb{ 
        border-radius: 5px;
        border-bottom: 2px solid #b4afafb9;
        border-top: 2px solid #b4afafb9;
        background-color: #0284c7;
    }

}

@media (max-width:800px) {
    .tabla {
        margin-bottom: 66px;
    }

    .icon{
        height: 40px;
        width: 40px;
    }
}

@media (min-width:801px) {
    /* .regiones {
        justify-content: space-around;
    } */
    .titulo_comentario h2{
        padding-top: 50px; 
        font-size: 80px;
    }

    .tabla {
        width: 100%;
        margin: 0 auto 50px;
        padding: 0 20px 0;
    }

    footer p{
        font-size: 20px;
    }

    .icon{
        height: 45px;
        width: 45px;
    }
}