body{
    background-color: #6096B4;
    
    
    
}
h1{
    font-family: 'Kalam', cursive;
}

/*Estilos del Header*/


.encabezado{
    display: flex;
    height:90%;
    grid-area: header;
    
}
.encabezado img{
    width: 100%;
    height: 100%;
}




/*Estilos del Menu*/

.menu{
    background-color: #93BFCF;
    text-align: center;    
    grid-area: inicio;
    height: 120px;
   
   
}
.menu ul{
    list-style: none;
    padding: 25px;


}

.menu ul li{
    display: inline-block;
    margin:10px   
   

}

.menu li a{
    color: #063642;    
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background-image: url("../assets/icons/icons8-mate-96.png");    
    background-size:40px;
    background-repeat: no-repeat;
    padding-left: 2em; 
    font-family: 'Kalam', cursive;
   
    
}


.menu li a:hover {
    background-color: #6096B4;
    font-size: 35px;
    color: #011318;
    font-weight: bold;
    border-radius: 15px;
    animation: 0.5s infinite menu_opcion;
 }

 @keyframes menu_opcion {
    0%{transform:scaleX(1.0);}
    50%{transform: scaleX(1.5);}
    100%{transform: scaleX(1.0);}
}


/*Formato del contenido principal*/

.contenedor{
    display: grid;
    grid-template: auto,auto,auto,auto,auto/ auto auto ;
    grid-template-areas:  "header header"
                          "inicio inicio"
                          "titulo titulo"
                          "contenido fotogaleria"                                                  
                          "pie pie " ;
}
/*Estilos del Titulo*/

div .titulo {
    display: inline-flex;
    color: #C08261;
    background-image: linear-gradient(to bottom, #0a5c71, #063642);
    border: #063642 2px solid;
    width: 100%;    
    justify-content: center;
    grid-area: titulo;
    
}
div .titulo h1:hover{

    box-shadow: 10px 0px 30px rgba(163, 163 ,163,1 )
}
/*Contenido principal----------------------------*/
article .contenido__articulo{
    display:flex;
    grid-area: contenido;
    width: 40%;

}
.parrafo__presentacion{
    display: absolute;
    margin-left: 12%;
    width: 100%;
}
.contenido__articulo p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #063642;
}

img.flotante_salinas,
img.flotante_desert {
    width: 30%;
    float: right;
    margin: 2px 3px;
}
img.flotante_cataratas{
    width: 30%;
    float: left;
    margin: 2px 3px;
}
.galeria__pais{
    display: flex;    
    flex-direction:column;
    align-items: flex-end;    
    grid-area: fotogaleria;
   
   
}
.galeria__pais .imagenes{
    width: 70%;
    float: center;
}



/*Formato del contenido pie de pagina FOOTER*/

footer {
    background-image: linear-gradient(to bottom, #0a5c71, #063642);
    display: flex;
    text-align:start;
    align-content: flex-end;
    margin: 0;
    padding: 0;
    height: 100%;
    grid-area: pie;
    
    
}

footer li{
    display: inline;
    
}
footer li a{
    padding: 5px;
    justify-content: flex-start; 
   
}

li a #media_icons{
    height: 25px;
}

footer p{
    font-size: 12px;
    color: #fff;
    margin-left:3px ;
    align-items: end;
}
/* Implementacion de mediaqueries----------------------------------------------*/
@media screen and (max-width:800px){
    .contenedor{
        display: grid;
        grid-template: auto/ auto ;
        grid-template-areas: "header "
                              "inicio "
                              "titulo "
                              "contenido "
                              "fotogaleria "                                                  
                              "pie  " ;
    }
    


}
